@font-face {
    font-family: Hatton;
    src: url("fonts/PPHatton-Ultralight.otf") format("opentype");
}

html    {
    scroll-behavior: smooth;
}

body    {
    background-color: #ebebeb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

/* anotar para commit */
.div-margin {
    margin-top: 30px;
}

.header,
.header-two {
    color: #312107;
    background-color: #ebebeb;
    font-family: 'TT Commons', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 80px;
}

.header-two {
    padding-right: 130px;
}

.header-title,
h2   {
    font-family: 'Hatton', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}

h2  {
    margin: 20px 0px;
}

h4  {
    font-family: 'Hatton', sans-serif;
    font-size: 30px;
    margin: 25px; 
}

.header-links   {
    list-style-type: none;
    display: flex;
    gap: 60px;
    padding: 0px;
    margin: 16px;
}

a   {
    color: #312107;
    text-decoration: none;
}

.hero   { 
    flex: 1;  
    background-image: linear-gradient(rgba(207, 175, 140, 0.7), rgba(207, 175, 140, 0.7)), url(img/lamina-1.png);
    background-color: #b7a58f;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);    
    color: #fffdf5;
    font-family: 'TT Commons', sans-serif;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 145px 100px;
}

.hero-title {
    font-family: 'Hatton', sans-serif;
    font-size: 55px;
    font-weight: normal;
    margin: 10px;
}

.hero p {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 60px;
}

.hero button,
#historia button    {
    color: #312107;
    background-color: #ebebeb;
    font-family: 'TT Commons', sans-serif;
    font-size: 15px;
    border: none;
    width: 180px;
    padding: 10px;
    cursor: pointer;
}

#historia button        {
    font-size: 20px;
    border: solid 2px #312107;
    width: 100%;
}

.nested-list, .nested-list *  {
    font-size: 21px;
}

.texto-imagen,
.texto-imagen-block {
    color: #312107;
    background-color: #ebebeb;
    font-family: 'TT Commons', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px;
    gap: 60px;
}

.texto-imagen-block {
    display: block;
}

.texto-imagen p, .texto-imagen-block p,
.texto-imagen ul, .texto-imagen-block ul, 
.texto-imagen h3, .texto-imagen-block h3, ol   {
    font-family: 'TT Commons', sans-serif;
    font-size: 27px;
}

.texto-imagen-block p   {
    margin: 50px 0px;
}

.texto-imagen h2    {
    background-color: #ebebeb;
    margin: 0px;
}

.texto-imagen h3    {
    font-weight: bold;
}

#materiales {
    position: relative;
}

.multiple-img-background,
.consigna-multiple-img-background  {
    display: flex;
    padding: 35px 55px;
    position: relative;
    z-index: 1;
}

.multiple-img-background img  {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.content-multiple-img-background   {
    position: absolute;  
    left: 0;
    right: 8%;
    height: 100%;
    transform: translateY(0%);
    padding: 5% 10%;
    z-index: 2;
}

.content-multiple-img {
    width: 100%;
    color:#fffdf5;
    background-color: rgba(207, 175, 140, 0.7);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    overflow: auto;
}

.content-multiple-img div {
    max-width: 45%;
}

.content-multiple-img h2  {
    font-family: 'Hatton', sans-serif;
    text-align: center;
}

.content-multiple-img p,
.content-multiple-img ul  {
    font-family: 'TT Commons', sans-serif;
    font-size: 19px;
}

.consigna h3    {
    font-family: 'TT Commons', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.consigna-texto {
    flex: 1;
    max-width: 40%;
}

.consigna-texto h4, 
.consigna-texto p  {
    font-family: 'Hatton', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.consigna-texto p   {
    font-family: 'TT Commons', sans-serif;
    font-size: 18px;
}

.consigna-multiple-img-background   {
    justify-content: space-between;
}

.consigna-multiple-img-background img   {
    width: 45%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
}

.consigna-content   {
    position: absolute;  
    left: 0;
    right: 0;
    height: 100%;
    transform: translateY(-10%);
    padding: 5% 10%;
    z-index: 2;
}

.consigna-colored   {
    background-color: rgba(207, 175, 140, 0.5);
    padding: 20px 30px;
    margin: 5px auto;
    z-index: 3;
}

.analisis-tat   {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 55px;
}

.analisis-tat-content   {
    font-family: 'Hatton', sans-serif;
    font-size: 20px;
    text-align: left;
}

.analisis-tat-content h2  {
    color: #a27304;
    font-size: 45px;
    text-align: center;
}

.analisis-tat img   {
    align-self: center;
}

.div-letra,
.div-letra-texto  {
    font-family: 'Hatton', sans-serif;
    font-size: 60px;
    font-weight: bold;
    background-color: #e7d7c9;
    align-self: flex-start;
    border: solid 4px black;
    padding: 5px 30px;
    padding-top: 15px;
}

.div-letra-texto    {
    margin-top: 30px;
}

.laminas-tat    {
    color: #312107;
    background-color: #ebebeb; 
    padding: 10px 20px;
    text-align: center;
}

.laminas-tat-wrap   {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0px;
    gap: 20px;
}

.wrap-element   {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 230px;
    height: auto;
    padding: 20px;
    margin: 10px 0px;
}

.wrap-element h4  {
    font-family: 'Hatton', sans-serif;
    font-size: 30px;
    margin: 25px;
}

.wrap-element img   {
    width: 200px;
    height: 170px;
}

.wrap-element p {
    font-family: 'TT Commons', sans-serif;
    font-size: 18px;
    margin: 5px 0px;
}

.text-align-center  {
    text-align: center;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end   {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.padding-small    {
    padding: 20px 20px;
}

.align-flex-start    {
    align-items: flex-start;
}

.align-self-flex-start  {
    align-self: flex-start;
}

.align-self-stretch    {
    align-self: stretch;
}

.align-self-center  {
    align-self: center;
}

.padding-top-none   {
    padding-top: 0px;
}

.width-equal-in-thirds  {
    width: 30%;
}

.flex-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.flex-row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Add media queries for different screen sizes */
@media screen and (max-width: 768px) {
    .materiales-content {
        flex-direction: column; /* Stack content vertically on smaller screens */
        text-align: center;
    }
    
    .materiales-content-background {
        padding: 20px; /* Smaller padding on mobile */
    }
}

@media screen and (max-width: 480px) {
    .materiales-background {
        flex-direction: column; /* Stack images vertically on very small screens */
    }
    
    .materiales-background img {
        width: 100%; /* Full width on mobile */
    }
}